<div id="main">
   <div id="background">
      <div class="triangle_bottomright"></div>
   </div>
   <div id="form">
      <div class="logo">
         <img src="../../../assets/images/logo1.png" alt="">
      </div>
      <div class="login">
         <img src="../../../assets/images/Login.png" alt="">
      </div>
      <!-- <div class="container_login"> -->
      <div class="inputtext">

         <input class="container_input" type="text" placeholder="Username" size="35px">
      </div>
      <div class="inputpass">
         <input class="container_input" type="password" placeholder="Password" size="35px">
      </div>
      <div class="font">
         <div class="leftfont">
            <div class="checkbox">
               <img src="../../../assets/images/Checkboxes.png">
            </div>
            <div class="remember">
               <a>Remember</a>
            </div>
         </div>
         <div class="rightfont">
            <a class="forgot" href="Forgot password?">Forgot password?</a>
         </div>
      </div>
      <!-- <div class="icon">
         <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
      </div> -->
      <div class="signin">
         <button>Sign in</button>
      </div>
      <div class="line">
         <hr style="width: 140px;" />
         <div style="padding: 0 5px 0 5px;">
            <a>OR</a>
         </div>

         <hr style="width: 140px;" />
      </div>
      <div class="google">
         <img src="../../../assets/images/google1.png" alt="">
         <button (click)="loginWithGoogle()">Sign in with google</button>
      </div>
      <div class="create">
         <div class="left-account">
            <a style="color: black;" href="Not register?">Not register?</a>
         </div>
         <div class="right-account">
            <a routerLink="/register" style="color:#2A6C0D;" href="Create an account">Create an account</a>
         </div>
      </div>
      <!-- </div> -->

   </div>
</div>