<div class="navbar" [ngClass]="getNavbarClass()">
    <div class="navbar-content">
        <div class="navbar-content-left">
            <img style="height: 40px; width: 120px; margin-bottom: 9px;" src="../../../assets/images/logo1.png" alt="">
            <div class="search-container">
                <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
                    <input type="search" class="search" name="" id="" placeholder="Search...">
                    <i class="fas fa-search"></i>
                </div>
                <div *ngIf="canShowSearchAsOverlay" class="normal-search">
                    <button [cdkMenuTriggerFor]="searchOverlay" class="search-menu-btn ripple">
                        <i class="fas fa-search search-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="navbar-content-right">
            <div class="navbar-menu">
                <div class="navbar-menu-item">
                    <button class="navbar-menu-item-btn">
                        <i class="fa-regular fa-message"></i>
                    </button>
                </div>
                <div class="navbar-menu-item">
                    <button class="navbar-menu-item-btn">
                        <i class="fas fa-bell" id="icon"></i>
                    </button>
                </div>


            </div>
            
            <button (click)="myFunction()" class="dropbtn">
                <div class="dropdown">
                    <div id="myDropdown" [ngClass]="{'dropdown-content': true, 'show': isDropdownOpen}">
                        <p>Phun</p>
                        <p>Join Membership</p>
                        <div class="line"></div>
                        <p>Profile</p>
                        <p>Certificate</p>
                        <p>Whislist</p>
                        <p>Setting</p>
                        <p style="margin: 0;">Logout</p>
                    </div>
                </div>
                <div class="circle-indicator pulse"></div>
            </button>
                
               
            
        </div>
    </div>
</div>

<ng-template #searchOverlay>
    <div class="overlay overlay-search overly-fall" cdkMenu>
        <input type="text" class="search" name="" id="" placeholder="Search...">
        <button class="search-btn">
            <i class="fas fa-search"></i>
        </button>
    </div>

</ng-template>