<div id="main">
   <div id="background">
      <div class="triangle_bottomright"></div>
   </div>
   <div id="form">
      <div class="logo">
         <img src="../../../assets/images/logo1.png" alt="">
      </div>
      <div class="register">
         <img src="../../../assets/images/Register.png" alt="">
      </div>
      <div class="input">
       <div class="inputtext">
         <input class="container_input" type="text" placeholder="Username" size="35px">
        </div>
        <div class="inputemail">
         <input class="container_input" type="email" placeholder="Email" size="35px">
        </div>
        <div class="inputpass" >
         <input class="container_input" type="password" placeholder="Password" size="35px">
        </div>
      </div>
      
      <div class="account">
            <button>Create account</button>    
        </div>
    <div class="line">
        <hr style="width: 140px;"/>
        <div style="padding: 0 5px 0 5px;">
         <a>OR</a>
         </div>
            <hr style="width: 140px;"/>
       </div>
      <div class="google">
         <img src="../../../assets/images/google1.png" alt="">
         <button>Sign in with google</button>
      </div>
      <div class="create">
         <div class="left-account">
            <a style="color: black; text-decoration: none;" href="Have already an account?">Have already an account?</a>
         </div>
         <div class="right-account">
            <a routerLink="/login" style="color:#2A6C0D;" href="Login here">Login here</a>
         </div>
      </div>   
   </div>
</div>