<div class="container">
    <div class="image-avatar">
    </div>
    <div class="image-logo">
        <img id="logo" src="../../../assets/images/logolanding.png">
    </div>
    <div class="box_green">
        <div class="title">
            <p class="sologan">LEARNING IS THE EYE OF THE MIND</p>
            <p class="description">Gnosis is an online learning platform that gives anyone, anywhere access to
                online
                courses</p>
            <div class="btn">
                <button routerLink="/login" class="start">Get Start</button>
            </div>
        </div>

        <div class="footer_green">
            <i class="fa-solid fa-location-dot" style="color: #ffffff; width: 40px; height: 60px; display: flex;align-items: center; "></i>
            <p class="address">8 Nguyễn Văn Tráng, Phường Bến Thành
                Quận 1, Tp. Hồ Chí Minh</p>
        </div>
    </div>

    <div class="box_white">

        <div class="container_subject">
            <div class="slider">
                <div class="title_subject">
                    <p class="subject">ILLUSTRATION COURSE</p>
                </div>
                <div class="images">
                    <input type="radio" name="slide" id="img1" checked>
                    <input type="radio" name="slide" id="img2">
                    <input type="radio" name="slide" id="img3">
                    <input type="radio" name="slide" id="img4">
                    
                    <img class="m1" src="../../../assets/images/web developer.jpg" alt="img1">
                    <img class="m2" src="../../../assets/images/english.jpg" alt="img2">
                    <img class="m3" src="../../../assets/images/math.webp" alt="img3">
                    <img class="m4" src="../../../assets/images/computerscience.webp" alt="img4">
                </div>
                <div class="dots">
                    <label for="img1"></label>
                    <label for="img2"></label>
                    <label for="img3"></label>
                    <label for="img4"></label>
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>
        </div>

        <div class="footer_white">
            <b>Hotline: 0854021102</b>
            <div id="icon_social">
                <img src="../../../assets/images/fb.png">
                <img src="../../../assets/images/youtube.png">
                <img src="../../../assets/images/discord.png">
            </div>
        </div>
    </div>



</div>